In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score

In [3]:
df = pd.read_csv('train.csv')

In [4]:
df

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15,y
0,5.2,0.34,0.37,66.5,6.20,0.031,0.995369,42.0,0.511883,1.02,133.0,0.99076,3.25,0.41,12.5,6
1,6.1,0.41,0.00,43.5,1.60,0.063,0.995691,36.0,0.514548,1.23,87.0,0.99140,3.27,0.67,10.8,6
2,7.5,0.26,0.30,46.0,4.60,0.027,0.995414,29.0,0.498311,0.78,92.0,0.99085,3.15,0.38,12.0,7
3,7.4,0.20,0.29,50.0,1.70,0.047,0.996208,16.0,0.515874,0.60,100.0,0.99243,3.28,0.45,10.6,6
4,7.3,0.23,0.24,43.0,0.90,0.031,0.994616,29.0,0.462398,0.69,86.0,0.98926,2.90,0.38,12.2,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3260,6.8,0.18,0.30,85.5,12.80,0.062,0.999040,19.0,0.477121,0.54,171.0,0.99808,3.00,0.52,9.0,7
3261,7.5,0.33,0.48,121.5,19.45,0.048,1.000500,55.0,0.469822,0.99,243.0,1.00100,2.95,0.40,8.8,5
3262,6.5,0.24,0.24,30.0,1.60,0.046,0.996393,15.0,0.503791,0.72,60.0,0.99280,3.19,0.39,9.8,5
3263,6.8,0.28,0.29,90.0,11.90,0.052,0.997717,51.0,0.480007,0.84,149.0,0.99544,3.02,0.58,10.4,6
3264,7.0,0.17,0.74,63.0,12.80,0.045,0.997096,24.0,0.513218,0.51,126.0,0.99420,3.26,0.38,12.2,8

In [5]:
X = df.copy()
y = df.pop('y')

In [6]:
discrete_features = X.dtypes == int
discrete_features

x1     False
x2     False
x3     False
x4     False
x5     False
x6     False
x7     False
x8     False
x9     False
x10    False
x11    False
x12    False
x13    False
x14    False
x15    False
y      False
dtype: bool

In [7]:
df1=pd.concat([X.isnull().sum(),X.eq('').sum()],keys=['Nulls','Empty'],axis=1)
df1

     Nulls  Empty
x1       7      0
x2       4      0
x3      12      0
x4       0      0
x5      17      0
x6       7      0
x7       3      0
x8      19      0
x9       2      0
x10      4      0
x11      0      0
x12      1      0
x13      0      0
x14      0      0
x15     74      0
y        0      0

In [8]:
X_new = X.dropna(axis = 0, how ='any')

In [9]:
df2=pd.concat([X_new.isnull().sum(),X_new.eq('').sum()],keys=['Nulls','Empty'],axis=1)
df2

     Nulls  Empty
x1       0      0
x2       0      0
x3       0      0
x4       0      0
x5       0      0
x6       0      0
x7       0      0
x8       0      0
x9       0      0
x10      0      0
x11      0      0
x12      0      0
x13      0      0
x14      0      0
x15      0      0
y        0      0

In [10]:
X_new

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15,y
0,5.2,0.34,0.37,66.5,6.20,0.031,0.995369,42.0,0.511883,1.02,133.0,0.99076,3.25,0.41,12.5,6
1,6.1,0.41,0.00,43.5,1.60,0.063,0.995691,36.0,0.514548,1.23,87.0,0.99140,3.27,0.67,10.8,6
2,7.5,0.26,0.30,46.0,4.60,0.027,0.995414,29.0,0.498311,0.78,92.0,0.99085,3.15,0.38,12.0,7
3,7.4,0.20,0.29,50.0,1.70,0.047,0.996208,16.0,0.515874,0.60,100.0,0.99243,3.28,0.45,10.6,6
4,7.3,0.23,0.24,43.0,0.90,0.031,0.994616,29.0,0.462398,0.69,86.0,0.98926,2.90,0.38,12.2,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3260,6.8,0.18,0.30,85.5,12.80,0.062,0.999040,19.0,0.477121,0.54,171.0,0.99808,3.00,0.52,9.0,7
3261,7.5,0.33,0.48,121.5,19.45,0.048,1.000500,55.0,0.469822,0.99,243.0,1.00100,2.95,0.40,8.8,5
3262,6.5,0.24,0.24,30.0,1.60,0.046,0.996393,15.0,0.503791,0.72,60.0,0.99280,3.19,0.39,9.8,5
3263,6.8,0.28,0.29,90.0,11.90,0.052,0.997717,51.0,0.480007,0.84,149.0,0.99544,3.02,0.58,10.4,6
3264,7.0,0.17,0.74,63.0,12.80,0.045,0.997096,24.0,0.513218,0.51,126.0,0.99420,3.26,0.38,12.2,8

In [11]:
%matplotlib inline

In [12]:
X_new.plot(x="y", y=features[0] , kind="scatter")

NameError: name 'features' is not defined

In [ ]:
X_new.plot(x="y", y=features[1] , kind="scatter")

In [ ]:
X_new.plot(x="y", y=features[2] , kind="scatter")

In [ ]:
X_new.plot(x="y", y=features[3] , kind="scatter")

In [ ]:
X_new.plot(x="y", y=features[4] , kind="scatter")

In [ ]:
X_new.plot(x="y", y=features[5] , kind="scatter")

In [ ]:
X_new.plot(x="y", y=features[6] , kind="scatter")

In [ ]:
X_new.plot(x="y", y=features[7] , kind="scatter")

In [ ]:
X_new.plot(x="y", y=features[8] , kind="scatter")

In [ ]:
X_new.plot(x="y", y=features[9] , kind="scatter")

In [ ]:
X_new.plot(x="y", y=features[10] , kind="scatter")

In [ ]:
X_new.plot(x="y", y=features[11] , kind="scatter")

In [ ]:
X_new.plot(x="y", y=features[12] , kind="scatter")

In [ ]:
X_new.plot(x="y", y=features[13] , kind="scatter")

In [ ]:
X_new.plot(x="y", y=features[14] , kind="scatter")

In [ ]:
X1 = X_new.copy()
y1 = X_new.pop('y')
from sklearn.feature_selection import mutual_info_regression

def make_mi_scores(X, y, discrete_features):
    mi_scores = mutual_info_regression(X, y, discrete_features=discrete_features)
    mi_scores = pd.Series(mi_scores, name="MI Scores", index=X.columns)
    mi_scores = mi_scores.sort_values(ascending=False)
    return mi_scores

mi_scores = make_mi_scores(X1, y1 , discrete_features)
mi_scores  # show a few features with their MI scores

In [ ]:
def plot_mi_scores(scores):
    scores = scores.sort_values(ascending=True)
    width = np.arange(len(scores))
    ticks = list(scores.index)
    plt.barh(width, scores)
    plt.yticks(width, ticks)
    plt.title("Mutual Information Scores")


plt.figure(dpi=100, figsize=(8, 5))
plot_mi_scores(mi_scores)